<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">




	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 最大连接数, 默认8个 -->
		<property name="maxTotal" value="32"></property>
		<!-- 最大空闲连接数, 默认8个 -->
		<property name="maxIdle" value="8"></property>
		<!-- 最小空闲连接数, 默认0 -->
		<property name="minIdle" value="0"/>
		<!--连接耗尽时是否阻塞, false报异常,ture阻塞直到超时, 默认true-->
		<property name="blockWhenExhausted" value="true"/>
		<!--设置的逐出策略类名, 默认DefaultEvictionPolicy(当连接超过最大空闲时间,或连接数超过最大空闲连接数)-->
		<property name="evictionPolicyClassName" value="org.apache.commons.pool2.impl.DefaultEvictionPolicy"/>

		<!--获取连接时的最大等待毫秒数(如果设置为阻塞时BlockWhenExhausted),如果超时就抛异常, 小于零:阻塞不确定的时间,  默认-1-->
		<property name="maxWaitMillis" value="15000"></property>
		<!--逐出连接的最小空闲时间 默认1800000毫秒(30分钟)-->
		<property name="minEvictableIdleTimeMillis" value="300000"></property>
		<!--每次逐出检查时 逐出的最大数目 如果为负数就是 : 1/abs(n), 默认3-->
		<property name="numTestsPerEvictionRun" value="3"></property>
		<!-- 逐出扫描的时间间隔(毫秒) 如果为负数,则不运行逐出线程, 默认-1 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>
	</bean>


	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
		<constructor-arg ref="jedisPoolConfig"></constructor-arg>
		<constructor-arg>
			<bean class="com.hawk.utility.redis.ShardsFactory" factory-method="produce">
				<constructor-arg value="${maven.taw_user_service.redis_nodes}"/>
			</bean>			
		</constructor-arg>
	</bean>

	<bean id="redisClient" class="com.hawk.utility.redis.RedisClient">
		<property name="pool" ref="shardedJedisPool"/>
	</bean>




</beans>
