<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.scene.mapper.SceneMapper">

	<sql id="columns">
		id as "id" ,
		name as "name" ,
		kind as "kind" ,
		status as "status" ,
		radius as "radius" ,
		center_lng as "centerLng" ,
		center_lat as "centerLat" ,
		left_top_lng as "leftTopLng" ,
		left_top_lat as "leftTopLat" ,
		left_bottom_lng as "leftBottomLng" ,
		left_bottom_lat as "leftBottomLat" ,
		right_top_lng as "rightTopLng" ,
		right_top_lat as "rightTopLat" ,
		right_bottom_lng as "rightBottomLng" ,
		right_bottom_lat as "rightBottomLat" ,
		country as "country" ,
		province as "province" ,
		city as "city" ,
		county as "county" ,
		town as "town" ,
		region as "region" ,
		address as "address" ,
		crdt as "crdt" ,
		updt as "updt" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="name != null"> AND name = #{name}  </if>
			<if test="kind != null"> AND kind = #{kind}  </if>
			<if test="status != null"> AND status = #{status}  </if>
			<if test="radius != null"> AND radius = #{radius}  </if>
			<if test="centerLng != null"> AND center_lng = #{centerLng}  </if>
			<if test="centerLat != null"> AND center_lat = #{centerLat}  </if>
			<if test="leftTopLng != null"> AND left_top_lng = #{leftTopLng}  </if>
			<if test="leftTopLat != null"> AND left_top_lat = #{leftTopLat}  </if>
			<if test="leftBottomLng != null"> AND left_bottom_lng = #{leftBottomLng}  </if>
			<if test="leftBottomLat != null"> AND left_bottom_lat = #{leftBottomLat}  </if>
			<if test="rightTopLng != null"> AND right_top_lng = #{rightTopLng}  </if>
			<if test="rightTopLat != null"> AND right_top_lat = #{rightTopLat}  </if>
			<if test="rightBottomLng != null"> AND right_bottom_lng = #{rightBottomLng}  </if>
			<if test="rightBottomLat != null"> AND right_bottom_lat = #{rightBottomLat}  </if>
			<if test="country != null"> AND country = #{country}  </if>
			<if test="province != null"> AND province = #{province}  </if>
			<if test="city != null"> AND city = #{city}  </if>
			<if test="county != null"> AND county = #{county}  </if>
			<if test="town != null"> AND town = #{town}  </if>
			<if test="region != null"> AND region = #{region}  </if>
			<if test="address != null"> AND address = #{address}  </if>
			<if test="crdt != null"> AND crdt = #{crdt}  </if>
			<if test="updt != null"> AND updt = #{updt}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{old_id}
			AND name = #{old_name}
			AND kind = #{old_kind}
			AND status = #{old_status}
			AND radius = #{old_radius}
			AND center_lng = #{old_centerLng}
			AND center_lat = #{old_centerLat}
			AND left_top_lng = #{old_leftTopLng}
			AND left_top_lat = #{old_leftTopLat}
			AND left_bottom_lng = #{old_leftBottomLng}
			AND left_bottom_lat = #{old_leftBottomLat}
			AND right_top_lng = #{old_rightTopLng}
			AND right_top_lat = #{old_rightTopLat}
			AND right_bottom_lng = #{old_rightBottomLng}
			AND right_bottom_lat = #{old_rightBottomLat}
			AND country = #{old_country}
			AND province = #{old_province}
			AND city = #{old_city}
			AND county = #{old_county}
			AND town = #{old_town}
			AND region = #{old_region}
			AND address = #{old_address}
			AND crdt = #{old_crdt}
			AND updt = #{old_updt}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			name = #{name},
			kind = #{kind},
			status = #{status},
			radius = #{radius},
			center_lng = #{centerLng},
			center_lat = #{centerLat},
			left_top_lng = #{leftTopLng},
			left_top_lat = #{leftTopLat},
			left_bottom_lng = #{leftBottomLng},
			left_bottom_lat = #{leftBottomLat},
			right_top_lng = #{rightTopLng},
			right_top_lat = #{rightTopLat},
			right_bottom_lng = #{rightBottomLng},
			right_bottom_lat = #{rightBottomLat},
			country = #{country},
			province = #{province},
			city = #{city},
			county = #{county},
			town = #{town},
			region = #{region},
			address = #{address},
			crdt = #{crdt},
			updt = #{updt},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
				<if test="name != null">name = #{name},</if>
				<if test="kind != null">kind = #{kind},</if>
				<if test="status != null">status = #{status},</if>
				<if test="radius != null">radius = #{radius},</if>
				<if test="centerLng != null">center_lng = #{centerLng},</if>
				<if test="centerLat != null">center_lat = #{centerLat},</if>
				<if test="leftTopLng != null">left_top_lng = #{leftTopLng},</if>
				<if test="leftTopLat != null">left_top_lat = #{leftTopLat},</if>
				<if test="leftBottomLng != null">left_bottom_lng = #{leftBottomLng},</if>
				<if test="leftBottomLat != null">left_bottom_lat = #{leftBottomLat},</if>
				<if test="rightTopLng != null">right_top_lng = #{rightTopLng},</if>
				<if test="rightTopLat != null">right_top_lat = #{rightTopLat},</if>
				<if test="rightBottomLng != null">right_bottom_lng = #{rightBottomLng},</if>
				<if test="rightBottomLat != null">right_bottom_lat = #{rightBottomLat},</if>
				<if test="country != null">country = #{country},</if>
				<if test="province != null">province = #{province},</if>
				<if test="city != null">city = #{city},</if>
				<if test="county != null">county = #{county},</if>
				<if test="town != null">town = #{town},</if>
				<if test="region != null">region = #{region},</if>
				<if test="address != null">address = #{address},</if>
				<if test="crdt != null">crdt = #{crdt},</if>
				<if test="updt != null">updt = #{updt},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="SceneDomain">
		SELECT 
		<include refid="columns" />
		FROM t_tm_scene
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="SceneDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_tm_scene
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>


	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(*) 
		FROM t_tm_scene
		<include refid="where" />
	</select>
	
	<insert id="insert"  parameterType="SceneDomain">
		INSERT INTO t_tm_scene (			
				id,				
				name,				
				kind,				
				status,				
				radius,				
				center_lng,				
				center_lat,				
				left_top_lng,				
				left_top_lat,				
				left_bottom_lng,				
				left_bottom_lat,				
				right_top_lng,				
				right_top_lat,				
				right_bottom_lng,				
				right_bottom_lat,				
				country,				
				province,				
				city,				
				county,				
				town,				
				region,				
				address,				
				crdt,				
				updt				
		)		
		VALUES (	
			#{id},
			#{name},
			#{kind},
			#{status},
			#{radius},
			#{centerLng},
			#{centerLat},
			#{leftTopLng},
			#{leftTopLat},
			#{leftBottomLng},
			#{leftBottomLat},
			#{rightTopLng},
			#{rightTopLat},
			#{rightBottomLng},
			#{rightBottomLat},
			#{country},
			#{province},
			#{city},
			#{county},
			#{town},
			#{region},
			#{address},
			#{crdt},
			#{updt}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_tm_scene
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_tm_scene
		<include refid="where" />
	</delete>

	<update id="update" parameterType="SceneDomain">
		UPDATE t_tm_scene	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="SceneDomain">
		UPDATE t_tm_scene
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_tm_scene	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	
	
</mapper>