<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.user.mapper.UserMapper">

	<sql id="columns">
		id as "id" ,
		mobile as "mobile" ,
		chcked as "chcked" ,
		mobile_kind as "mobileKind" ,
		status as "status" ,
		kind as "kind" ,
		sex as "sex" ,
		nickname as "nickname" ,
		password as "password" ,
		channel as "channel" ,
		imei as "imei" ,
		device_kind as "deviceKind" ,
		os_version as "osVersion" ,
		brand as "brand" ,
		device_model as "deviceModel" ,
		ip as "ip" ,
		crdt as "crdt" ,
		updt as "updt" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="mobile != null"> AND mobile = #{mobile}  </if>
			<if test="chcked != null"> AND chcked = #{chcked}  </if>
			<if test="mobileKind != null"> AND mobile_kind = #{mobileKind}  </if>
			<if test="status != null"> AND status = #{status}  </if>
			<if test="kind != null"> AND kind = #{kind}  </if>
			<if test="sex != null"> AND sex = #{sex}  </if>
			<if test="nickname != null"> AND nickname = #{nickname}  </if>
			<if test="password != null"> AND password = #{password}  </if>
			<if test="channel != null"> AND channel = #{channel}  </if>
			<if test="imei != null"> AND imei = #{imei}  </if>
			<if test="deviceKind != null"> AND device_kind = #{deviceKind}  </if>
			<if test="osVersion != null"> AND os_version = #{osVersion}  </if>
			<if test="brand != null"> AND brand = #{brand}  </if>
			<if test="deviceModel != null"> AND device_model = #{deviceModel}  </if>
			<if test="ip != null"> AND ip = #{ip}  </if>
			<if test="crdt != null"> AND crdt = #{crdt}  </if>
			<if test="updt != null"> AND updt = #{updt}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{old_id}
			AND mobile = #{old_mobile}
			AND chcked = #{old_chcked}
			AND mobile_kind = #{old_mobileKind}
			AND status = #{old_status}
			AND kind = #{old_kind}
			AND sex = #{old_sex}
			AND nickname = #{old_nickname}
			AND password = #{old_password}
			AND channel = #{old_channel}
			AND imei = #{old_imei}
			AND device_kind = #{old_deviceKind}
			AND os_version = #{old_osVersion}
			AND brand = #{old_brand}
			AND device_model = #{old_deviceModel}
			AND ip = #{old_ip}
			AND crdt = #{old_crdt}
			AND updt = #{old_updt}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			mobile = #{mobile},
			chcked = #{chcked},
			mobile_kind = #{mobileKind},
			status = #{status},
			kind = #{kind},
			sex = #{sex},
			nickname = #{nickname},
			password = #{password},
			channel = #{channel},
			imei = #{imei},
			device_kind = #{deviceKind},
			os_version = #{osVersion},
			brand = #{brand},
			device_model = #{deviceModel},
			ip = #{ip},
			crdt = #{crdt},
			updt = #{updt},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
				<if test="mobile != null">mobile = #{mobile},</if>
				<if test="chcked != null">chcked = #{chcked},</if>
				<if test="mobileKind != null">mobile_kind = #{mobileKind},</if>
				<if test="status != null">status = #{status},</if>
				<if test="kind != null">kind = #{kind},</if>
				<if test="sex != null">sex = #{sex},</if>
				<if test="nickname != null">nickname = #{nickname},</if>
				<if test="password != null">password = #{password},</if>
				<if test="channel != null">channel = #{channel},</if>
				<if test="imei != null">imei = #{imei},</if>
				<if test="deviceKind != null">device_kind = #{deviceKind},</if>
				<if test="osVersion != null">os_version = #{osVersion},</if>
				<if test="brand != null">brand = #{brand},</if>
				<if test="deviceModel != null">device_model = #{deviceModel},</if>
				<if test="ip != null">ip = #{ip},</if>
				<if test="crdt != null">crdt = #{crdt},</if>
				<if test="updt != null">updt = #{updt},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="UserDomain">
		SELECT 
		<include refid="columns" />
		FROM t_um_user
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="UserDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_um_user
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>


	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(*) 
		FROM t_um_user
		<include refid="where" />
	</select>
	
	<insert id="insert"  parameterType="UserDomain">
		INSERT INTO t_um_user (			
				id,				
				mobile,				
				chcked,				
				mobile_kind,				
				status,				
				kind,				
				sex,				
				nickname,				
				password,				
				channel,				
				imei,				
				device_kind,				
				os_version,				
				brand,				
				device_model,				
				ip,				
				crdt,				
				updt				
		)		
		VALUES (	
			#{id},
			#{mobile},
			#{chcked},
			#{mobileKind},
			#{status},
			#{kind},
			#{sex},
			#{nickname},
			#{password},
			#{channel},
			#{imei},
			#{deviceKind},
			#{osVersion},
			#{brand},
			#{deviceModel},
			#{ip},
			#{crdt},
			#{updt}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_um_user
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_um_user
		<include refid="where" />
	</delete>

	<update id="update" parameterType="UserDomain">
		UPDATE t_um_user	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="UserDomain">
		UPDATE t_um_user
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_um_user	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	
	
</mapper>