<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.scene.mapperex.SceneExMapper">
	
	<delete id="deleteByIds" >
		DELETE FROM t_tm_message
		WHERE receiver_id = #{receiverId} and id in
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			 #{item}
			</foreach>	
	</delete>
	
</mapper>