<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.scene.mapperex.MessageExMapper">
	
	<delete id="deleteByIds" >
		DELETE FROM t_tm_message
		WHERE receiver_id = #{receiverId} and id in
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			 #{item}
			</foreach>	
	</delete>
	
	
	
	<select id="searchMessage" parameterType="hashmap"  resultType="MessageDomain">
		SELECT 
		<include refid="com.taw.scene.mapper.MessageMapper.columns" />
		FROM t_tm_message
		WHERE 1=1
		 <if test="sceneId != null"> AND scene_id = #{sceneId}  </if>
		 <if test="maxPostDate != null"> AND send_time &lt; #{maxPostDate}  </if>
		 <if test="minPostDate != null"> AND send_time &gt; #{minPostDate}  </if>	
		 <choose>
		 	<when test="includeSelf != null">
		 		<choose>
		 			<when test="partyId != null"> AND ((sender_id = #{partyId} and receiver_id = #{myId}) or (sender_id = #{myId} and receiver_id = #{partyId})) </when> 
		 			<otherwise> AND (receiver_id = #{myId} or sender_id = #{myId}) </otherwise>
		 		</choose>
		 	</when>
		 	<otherwise>
		 		<choose>
		 			<when test="partyId != null"> AND (sender_id = #{partyId} and receiver_id = #{myId}) </when>
		 			<otherwise> AND (receiver_id = #{myId}) </otherwise>
		 		</choose>
		 	</otherwise>
		 </choose>		 	 
		 <if test="_orderby != null">ORDER BY ${_orderby} </if>
		 <if test="_offset != null">LIMIT #{_offset},#{_limit} </if>			
	</select>
	
</mapper>