<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.scene.mapperex.SceneExMapper">
	
	<select id="querySceneInRegion"  resultType="SceneDomain">
		SELECT 
		<include refid="com.taw.scene.mapper.SceneMapper.columns" />
		FROM t_tm_scene
		WHERE center_lng &lt;= #{maxLng} 
		  AND center_lng &gt;= #{minLng}
		  AND center_lat &lt;= #{maxLat}
		  AND center_lat &gt;= #{minLat}		
	</select>
	
	<select id="countSceneInRegion"  resultType="Integer">
		SELECT 
		COUNT(1)
		FROM t_tm_scene
		WHERE center_lng &lt;= #{maxLng} 
		  AND center_lng &gt;= #{minLng}
		  AND center_lat &lt;= #{maxLat}
		  AND center_lat &gt;= #{minLat}		
	</select>
	
	<select id="queryEnterCount"  resultType="Integer">
		SELECT COUNT(1) as "enterCount"		
		FROM t_tm_foot_print_detail
		WHERE scene_id = #{sceneId} 
		  AND out_time is null	
	</select>
	
	<select id="querySceneByName"  resultType="SceneDomain">
		SELECT 
		<include refid="com.taw.scene.mapper.SceneMapper.columns" />
		FROM t_tm_scene
		WHERE name like #{name} LIMIT #{offset},#{limit}	
	</select>
	
	<select id="querySceneGroupByCity"  resultType="FuzziedSceneDomain">
		select 	city as "city",
				avg(left_bottom_lat) as "leftBottomLat",
        		avg(left_bottom_lng) as "leftBottomLng",
       	 		count(1) as "count" 
		 from t_tm_scene 
		where center_lng &lt;= #{maxLng} 
		  AND center_lng &gt;= #{minLng}
		  AND center_lat &lt;= #{maxLat}
		  AND center_lat &gt;= #{minLat}
		group by city
	</select>
	
	
	<select id="queryFuzziedScene"  resultType="FuzziedSceneDomain">
		select round(center_lng/#{density},0)*#{density} as leftBottomLng,
			   round(center_lat/#{density},0)*#{density} as leftBottomLat,
			   count(1) as "count"
		 from t_tm_scene 
		where center_lng &lt;= #{maxLng} 
		  AND center_lng &gt;= #{minLng}
		  AND center_lat &lt;= #{maxLat}
		  AND center_lat &gt;= #{minLat}
	 group by leftBottomLng,leftBottomLat
	</select>
	
</mapper>