<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">



	<bean id="taw_user_service_sms_service" class="com.hawk.pub.sms.SMSService"/>


	<bean class="com.taw.user.auth.TokenSecurityHelper">
		<property name="userServiceConfigure" ref="userServiceConfigure"/>
	</bean>
	
	
	<bean id="userServiceConfigure" class="com.taw.user.configure.UserServiceConfigure">
		<property name="pwdMd5Key" value="${maven.taw-user-service.pwd_md5_key}"/>
		<property name="prod" value="${maven.taw-user-service.prod}"/>
		<property name="tokenKey" value="${maven.taw-user-service.tokenKey}"/>
		<property name="downloadPrefix" value="${maven.taw-user-service.downloadPrefix}"/>		
	</bean>






</beans>
