<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.pub.sms.mapper.SmsMapper">

	<sql id="columns">
		id as "id" ,
		mobile as "mobile" ,
		tpl_id as "tplId" ,
		params as "params" ,
		message as "message" ,
		kind as "kind" ,
		status as "status" ,
		send_time as "sendTime" ,
		expire_time as "expireTime" ,
		send_times as "sendTimes" ,
		max_times as "maxTimes" ,
		sid as "sid" ,
		err_code as "errCode" ,
		err_msg as "errMsg" ,
		crdt as "crdt" ,
		updt as "updt" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="mobile != null"> AND mobile = #{mobile}  </if>
			<if test="tplId != null"> AND tpl_id = #{tplId}  </if>
			<if test="params != null"> AND params = #{params}  </if>
			<if test="message != null"> AND message = #{message}  </if>
			<if test="kind != null"> AND kind = #{kind}  </if>
			<if test="status != null"> AND status = #{status}  </if>
			<if test="sendTime != null"> AND send_time = #{sendTime}  </if>
			<if test="expireTime != null"> AND expire_time = #{expireTime}  </if>
			<if test="sendTimes != null"> AND send_times = #{sendTimes}  </if>
			<if test="maxTimes != null"> AND max_times = #{maxTimes}  </if>
			<if test="sid != null"> AND sid = #{sid}  </if>
			<if test="errCode != null"> AND err_code = #{errCode}  </if>
			<if test="errMsg != null"> AND err_msg = #{errMsg}  </if>
			<if test="crdt != null"> AND crdt = #{crdt}  </if>
			<if test="updt != null"> AND updt = #{updt}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{old_id}
			AND mobile = #{old_mobile}
			AND tpl_id = #{old_tplId}
			AND params = #{old_params}
			AND message = #{old_message}
			AND kind = #{old_kind}
			AND status = #{old_status}
			AND send_time = #{old_sendTime}
			AND expire_time = #{old_expireTime}
			AND send_times = #{old_sendTimes}
			AND max_times = #{old_maxTimes}
			AND sid = #{old_sid}
			AND err_code = #{old_errCode}
			AND err_msg = #{old_errMsg}
			AND crdt = #{old_crdt}
			AND updt = #{old_updt}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			mobile = #{mobile},
			tpl_id = #{tplId},
			params = #{params},
			message = #{message},
			kind = #{kind},
			status = #{status},
			send_time = #{sendTime},
			expire_time = #{expireTime},
			send_times = #{sendTimes},
			max_times = #{maxTimes},
			sid = #{sid},
			err_code = #{errCode},
			err_msg = #{errMsg},
			crdt = #{crdt},
			updt = #{updt},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
				<if test="mobile != null">mobile = #{mobile},</if>
				<if test="tplId != null">tpl_id = #{tplId},</if>
				<if test="params != null">params = #{params},</if>
				<if test="message != null">message = #{message},</if>
				<if test="kind != null">kind = #{kind},</if>
				<if test="status != null">status = #{status},</if>
				<if test="sendTime != null">send_time = #{sendTime},</if>
				<if test="expireTime != null">expire_time = #{expireTime},</if>
				<if test="sendTimes != null">send_times = #{sendTimes},</if>
				<if test="maxTimes != null">max_times = #{maxTimes},</if>
				<if test="sid != null">sid = #{sid},</if>
				<if test="errCode != null">err_code = #{errCode},</if>
				<if test="errMsg != null">err_msg = #{errMsg},</if>
				<if test="crdt != null">crdt = #{crdt},</if>
				<if test="updt != null">updt = #{updt},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="SmsDomain">
		SELECT 
		<include refid="columns" />
		FROM t_sm_sms
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="SmsDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_sm_sms
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>


	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(*) 
		FROM t_sm_sms
		<include refid="where" />
	</select>
	
	<insert id="insert"  parameterType="SmsDomain">
		INSERT INTO t_sm_sms (			
				id,				
				mobile,				
				tpl_id,				
				params,				
				message,				
				kind,				
				status,				
				send_time,				
				expire_time,				
				send_times,				
				max_times,				
				sid,				
				err_code,				
				err_msg,				
				crdt,				
				updt				
		)		
		VALUES (	
			#{id},
			#{mobile},
			#{tplId},
			#{params},
			#{message},
			#{kind},
			#{status},
			#{sendTime},
			#{expireTime},
			#{sendTimes},
			#{maxTimes},
			#{sid},
			#{errCode},
			#{errMsg},
			#{crdt},
			#{updt}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_sm_sms
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_sm_sms
		<include refid="where" />
	</delete>

	<update id="update" parameterType="SmsDomain">
		UPDATE t_sm_sms	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="SmsDomain">
		UPDATE t_sm_sms
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_sm_sms	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	
	
</mapper>