<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

	<contextName>taw-scene-web-test</contextName>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="stdout" />
	</root>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	

</configuration>